
  @import url();

/*---Reset---*/
* {
    box-sizing: border-box;
}
html {
    font-family: 'Playpen Sans', sans-serif;
}
body {
    margin: 0;
}
h1, h2, h3, p, ul {
  margin-top: 0;
  margin-bottom: 0;
}
button {
  border: none;
  cursor: pointer;
  font-family: inherit;
}



